html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/****  Colors ****/
/**** Fonts ****/
@font-face {
  font-family: coves;
  src: url("../covesTypeface/CovesLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: coves;
  src: url("../covesTypeface/CovesBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
/************** global *****************/
html {
  font-family: 'coves', Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0) 78px, rgba(0, 0, 0, 0) 78px), linear-gradient(-90deg, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(-90deg, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0) 78px, rgba(0, 0, 0, 0) 78px), linear-gradient(rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 1px), transparent;
  background-size: 30px 30px, 30px 30px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px;
}

a {
  text-decoration: none;
  color: #AAA;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  margin: 23px;
  font-family: 'coves', Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 23px;
  font-family: 'coves', Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 23px;
  font-family: 'coves', Arial, Helvetica, sans-serif;
}

p {
  margin: 10px 0 15px;
  line-height: 1.2em;
  font-size: 16px;
  font-family: 'coves', Arial, Helvetica, sans-serif;
}

.btnAvail {
  background-color: #a32431;
  width: 165px;
  padding: 10px 0px;
  border: 2px solid #a32431;
  border-radius: 3px;
  transition: .25s;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 1px 2px 2px 0px #272727;
}
.btnAvail:hover {
  box-shadow: 0px 3px 5px 2px #272727;
}
.btnAvail a {
  text-decoration: none;
  font-weight: bold;
}

.background-image {
  background: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pathPic:hover:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pathPic:hover .content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.textCon {
  -webkit-transform: skewX(155deg);
  -ms-transform: skewX(155deg);
  transform: skewX(155deg);
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.classIcon {
  width: 75px;
  margin-top: 100px;
  transition: .5s;
}

.row {
  position: relative;
  display: block;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}

header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  width: 100%;
  height: 87px;
  overflow: hidden;
  transition-duration: 1s;
  z-index: 100;
}
header .contentCon {
  width: 88%;
  margin: auto;
}
header .logo {
  float: left;
  margin-left: 70px;
  width: 30%;
  position: absolute;
  left: 40px;
}
header .logo img {
  width: 64%;
  padding-top: 10px;
}
header .nav {
  float: right;
}
header .nav li {
  display: block;
  list-style-type: none;
  float: left;
  margin: 15px 5px;
  padding: 15px 5px;
  text-decoration: none;
  font-size: 16px;
  line-height: 100%;
  background-color: transparent;
}
header .nav li:hover a {
  color: #a32431;
  background-color: transparent;
  font-size: 20px;
  margin: -6px;
}
header .nav li a {
  padding: 0;
  color: #272727;
  text-decoration: none;
  transition: .25s;
  font-weight: bold;
}

/*************** main *****************/
main {
  width: 100%;
  overflow: hidden;
}
main .bg-photo {
  background-image: url("../images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
main .hero {
  height: 90vh;
}
main .hero .headlineCon blockquote {
  border-top: 2px solid #272727;
  border-bottom: 2px solid #272727;
  position: absolute;
  top: 266px;
  left: 222px;
  text-align: center;
  padding: 21px;
  font-weight: bold;
  -ms-transform: rotate(-15deg);
  /* IE 9 */
  -webkit-transform: rotate(-15deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-15deg);
}
main .hero .headlineCon blockquote h1 {
  margin: 0;
  font-size: 48px;
  font-family: 'Fredericka the Great', cursive;
}
main .hero .headlineCon blockquote p {
  margin: -5px 0 0 0;
  font-size: 20px;
  font-family: 'Fredericka the Great', cursive;
}
main .container {
  width: 90%;
  margin: auto;
  background-color: #eee;
  padding: 20px 5px;
}
main .container .welcome {
  text-align: center;
  line-height: 1.2em;
  margin: 20px 0;
  background-color: #eee;
  padding: 10px;
}
main .container .welcome h1 {
  border-bottom: 3px solid #a32431;
  display: table;
  text-transform: uppercase;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
  margin: 10px auto 35px;
  text-shadow: 2px 2px #ccc;
}
main .available {
  text-align: center;
  margin: 30px auto;
}
main .courseCon {
  width: calc(49% - 16px);
  height: 280px;
  background-color: #e4e4e4;
  margin: 20px 10px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 2px 2px 7px #343333;
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: .5s;
}
main .courseCon span {
  display: none;
  text-transform: none;
}
main .courseCon:before {
  content: '';
  position: absolute;
  left: 5%;
  top: 5%;
  width: 0%;
  height: 0%;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 7;
  transform: rotate(45deg);
  transition: width .5s length .5s;
}
main .courseCon:hover h2 {
  font-size: 18px;
  text-transform: none;
}
main .courseCon:hover span {
  display: inline-block;
}
main .courseCon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}
main .courseCon .classIcon {
  position: relative;
  z-index: 10;
}
main .courseCon:hover .classIcon {
  margin-top: 25px;
  width: 50px;
}
main .courseCon:hover:before {
  content: '';
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 7;
  transform: rotate(0deg);
  transition: .5s;
}
main .courseCon .classTitle {
  padding: 7px;
  margin-top: -30px;
  text-transform: lowercase;
  color: #a32431;
  font-weight: bold;
  position: relative;
  z-index: 10;
}
main .courseCon .firstAid .firstAidPic {
  overflow: hidden;
  background-image: url("../images/firstAidPic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% bottom;
  height: 280px;
  width: 100%;
}
main .courseCon .firstAid .btnFirstAid {
  width: 82px;
  padding: 10px 25px;
  border: 2px solid #a32431;
  border-radius: 3px;
  transition: .25s;
}
main .courseCon .cpr #center {
  position: relative;
  left: 332px;
}
main .courseCon .cpr .btnCpr {
  width: 82px;
  padding: 10px 25px;
  border: 2px solid #a32431;
  border-radius: 3px;
  transition: .25s;
}
main .courseCon .cpr .cprPic {
  overflow: hidden;
  background-image: url("../images/cprPic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% bottom;
  height: 280px;
  width: 100%;
}
main .courseCon .pathogens .pathPic {
  background-image: url("../images/pathPic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% bottom;
  overflow: hidden;
  height: 280px;
  width: 100%;
}
main .courseCon .btnPath {
  width: 82px;
  padding: 10px 25px;
  border: 2px solid #a32431;
  border-radius: 3px;
  transition: .25s;
}
main .survivalPic {
  background-image: url("../images/wilderness.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% bottom;
  height: 280px;
  width: 100%;
  position: relative;
}

.picCon {
  width: 100%;
}

footer {
  margin: 50px auto 0;
  width: 90%;
}
footer a {
  color: #272727;
  font-weight: bold;
}
footer .footNav {
  float: left;
}
footer .footNav .nav {
  display: inline-block;
}
footer .footNav .nav a {
  padding: 4px 15px;
}
footer .contain-contact {
  float: right;
}
footer .contain-contact li {
  list-style-type: none;
}
footer .sub-footer {
  width: 100%;
  text-align: left;
  color: #565656;
}
footer .sub-footer .robros {
  text-align: center;
}
footer .sub-footer .robros:before {
  content: '';
  display: table;
}
footer .sub-footer .robros:after {
  border: 1px solid #bfe1f1;
}
