.courseHero{
	height: 55vh;
	}

#cpr {
	
	.coursePhoto{
		margin-top:65px;
		background-color: $text;
		overflow: hidden;
		position: relative;
		
		&:before {
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.8;
			background-image: url('../images/no-ppl-cpr.jpg');
			background-repeat: no-repeat;
			background-position: 50%;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
		}
		
	}
	
}

.firstAidCourse {
	margin-top:65px;
		background-color: $text;
		overflow: hidden;
		position: relative;
		
		&:before {
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.8;
			background-image: url('../images/firstAid3.jpg');
			background-repeat: no-repeat;
			background-position: 50%;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
		}
		
	}


.survival-wilderness {
	margin-top:65px;
	background-color: $text;
		overflow: hidden;
		position: relative;
		
		&:before {
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.8;
			background-image: url('../images/wilderness.jpg');
			background-repeat: no-repeat;
			background-position: 50%;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
		}
		
	}
    
.ashi {
	margin-top:65px;
	background-color: $text;
		overflow: hidden;
		position: relative;
		
		&:before {
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.8;
			background-image: url('http://www.osmanager4.com/images/summit970X250.png');
			background-repeat: no-repeat;
			background-position: 50%;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
		}
		
	}
//http://www.osmanager4.com/images/summit970X250.png

.path {
	margin-top:65px;
	background-color: $text;
	overflow: hidden;
	position: relative;
	
	
		&:before {
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.8;
			background-image: url('../images/pathPic.png');
			background-repeat: no-repeat;
			background-position: center;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover; 
		}
		
	}
