footer {
	background-color: #272727;
    width: 100%;
	
	display: inline-block;
	.footNav{
		float:left;
		
		.nav{
			display: inline-block;
			
			a{
				padding: 4px 15px;
			} 
		}
	}

	.contain-contact {
		float: right;
		 
		li {
			list-style-type: none;
		}
	}


.sub-footer {
	width: 100%;
	background-color: #272727;
	text-align: center;
	color: #565656;
	
	.robros {
		text-align: center;
		
		&:before {
			content: '';
			display: table;
		}
		
		&:after {
			border: 1px solid $blue;
		}
	}
}
}