/************** global *****************/
html {
    font-family: 'coves', Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #AAA;
}

h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 23px;
    font-family: 'coves', Arial, Helvetica, sans-serif;
}

 h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 23px;
    font-family: 'coves', Arial, Helvetica, sans-serif;
 }
 
 h3 {
    font-size: 21px;
    font-weight: bold;
    margin: 23px;
    font-family: 'coves', Arial, Helvetica, sans-serif;
 }

p {
	margin: 10px 0 15px;
    line-height: 1.2em;
    font-size: 16px;
    font-family: 'coves', Arial, Helvetica, sans-serif;
}
// .firstAid, .cpr, .pathogens, .footer {
//     box-shadow: 0px 3px 4px 1px #272727;
// }

.btnAvail {
    background-color: $red;
    width: 165px;
    padding: 10px 25px;
    border: 2px solid $red;
    border-radius: 3px;
    transition: .25s;
    margin: 10px; 
    margin-bottom: 15px;
    box-shadow: 0px 3px 4px 0px #272727; 
    
    &:hover {
       box-shadow: 0px 3px 5px 2px #272727;
    }
    
    a {
        text-decoration: none;
        font-weight: bold;
    } 
}


.background-image {
    background: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pathPic:hover:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pathPic:hover .content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.textCon{
    -webkit-transform:skewX(155deg);
    -ms-transform:skewX(155deg);
    transform:skewX(155deg);  
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}