/*************** main *****************/
main {
    width: 100%;
    overflow: hidden;
    box-shadow: 0, -5px, 14px, 1px rgba(55,51,51,1);
    
    .bg-photo {
        background-image: url('../images/firstCareHero.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
              
        }
    
    .hero {
        height: 80vh;
     //   margin-top: 87px;
              
        &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 80vh;
                display: block;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 5;
            }
        }

.container {
    width: 90%;
    margin: auto;
   // background-color: #eee;
    padding: 20px 5px;
    
    .welcome {
        text-align: center;
        line-height: 1.2em;
        margin: 20px 0;
      //   background-color: #eee;
         padding: 10px;
        
        h1{
            border-bottom: 3px solid #a32431;
            display: table;
            text-transform: uppercase;
            padding-bottom: 15px;
            text-align: center;
            position: relative;
            margin: 10px auto 35px;   
        }
    }
}

    .available {
        text-align: center;
        //background-color: $grayContent;
        margin: 30px auto;
        
        h2{
            text-align:center;
            display:inline-block
        }
        
    }
    .courseCon {
        width: calc(49% - 16px);
        min-width: 280px;
        height: 280px;
        background-color: #e4e4e4;
        margin: 20px 10px;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 2px 2px 7px $text;
        display: inline-block;
        position: relative;
        vertical-align: top;
        transition: .5s;
        h2 {
            transition: .5s;
            color: #fff;
            text-shadow: 0;
         }
        span{
            display: none;
            text-transform: none;
        }
        
        &:before{
            content: '';
            position: absolute;
            left: 5%;
            top: 5%;
            width: 0%;
            height: 0%;
            display: block;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 7;
            transform: rotate(45deg);
            transition: width .5s length .5s;
        }
         &:hover{
                h2 {
                    font-size: 18px;
                    text-transform: none;
                }
                span{
                    display: block;
                }
            }
        
                 &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-color: rgba(0, 0, 0, 0.2);
                    z-index: 5;
                    
                 }
               .classIcon{
                   position: relative;
                   z-index: 10;
               }
               &:hover{
                    .classIcon{
                        margin-top: 25px; 
                        width: 50px;
                    }  
                }
                
                &:hover:before{
                    content: '';
                    position: absolute;
                    left: 5%;
                    top: 5%;
                    width: 90%;
                    height: 90%;
                    display: block;
                    background-color: rgba(255, 255, 255, 0.7);
                    z-index: 7;
                    transform: rotate(0deg);
                    transition: .5s;
                }
        
       
       .classTitle{
            padding: 7px;
            margin: -30px auto 0;
            text-transform: lowercase;
            color: $red;
            font-weight: bold;
            position: relative;
            z-index: 10;
          }

        .firstAid{
           // text-align: left;
     
             .btnFirstAid {
                width: 82px;
                padding: 10px 25px;
                border: 2px solid $red;
                border-radius: 3px;
                transition: .25s;
            }
        } //firstAid
        
        .cpr{
         
             #center{
                position: relative;
                left: 332px;
             }
            
            .btnCpr {
                width: 82px;
                padding: 10px 25px;
                border: 2px solid $red;
                border-radius: 3px;
                transition: .25s;
            }
           
        }
    
        .pathogens{
                    
             
             }
             .btnPath {
                width: 82px;
                padding: 10px 25px;
                border: 2px solid $red;
                border-radius: 3px;
                transition: .25s;
            }
        }
        
        
        .overlay{
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 5;
                transition: .25s;
            }
        }
    }
    
    
    
    .picCon{
        width: 100%; 
    }
    



