@media screen and (min-width: 767px){
	.nav-menu-wrap{
		display: none;
		visibility: hidden; 
	}
	.nav-menu-toggle{
		display: none;
		visibility: hidden;
	}
	.nav-menu-background{
		display: none;
		visibility: hidden; 	
	}
}
@media screen and (max-width: 960px){
	
}

@media screen and (max-width: 766px){
	.nav {
		display: none;
	}

	footer {
	 	.footNavCon {
			 display: block;
			 float: none;
			.center {
				text-align:center;
			}
		 }
	}
	footer .contain-contact {
		float: none;
		margin-bottom: 31px;
		width: 78px;
		margin: 0 auto 15px;
	}
	
	footer .footImgCon{
			display: block;
			clear: both;
			width: 100%;
			text-align: center;
			
			img{
				width: 125px;
				position: static;
			}
		}
		
	footer .contain-contact .contact {
		display: inline-block;
		width: 171px;
		margin: auto;
	}
	
	footer .contain-contact .contact .email, footer .contain-contact .contact .phone {
		line-height: 1.2em;
		display: inline-block;
		margin-right: 25px;
		text-align: left;	
	}
	.container .em-calendar-wrapper table{
		height: 33vh;
		width: 45vw;
	}
}

@media screen and (max-width: 620px){
	
	header .logo {
		margin-left: 1%;
		position: absolute;
		left: 37px;
	} 
	.courseCon{
		margin: 20px auto !important;
	}
	
	.jimmy{
		float: none !important;
		width: 100% !important;
	}
	
	.christy{
		float: none !important;
		width: 100% !important;
	}
	.container .em-calendar-wrapper table{
		height: 33vh;
		width: 75vw;
	}
	
}
@media screen and (max-width: 480px){
 header{
          
     .contentCon{
         float: left;
         .logo{
             float: left;
             left: 20px;
             margin-left: 5px;
         }
         h1{
             visibility: hidden;
         }
         nav{
             .menuItem{
                 visibility: hidden;
         }
            &:hover ul{
                display: block;
            }
        }
        .menu-icon{
            img{
                visibility: visible;
                margin-top: 10px;
                height: 40px;
                float: right;
            }
        }
 
    }
 }
}